@model AdminBugTracker.ViewModels.BugViewModel

@{
    ViewBag.Title = "Update";
    Layout = "~/Views/_Layout.cshtml";
}

<h2>Update</h2>

@if (ViewBag.errorMessage == "" || ViewBag.errorMessage == null)
{ 
    using (Html.BeginForm())
    {
        @Html.ValidationSummary()
        @Html.HiddenFor(m => m.idBug)
        <div class="form-group">
            <label>Name</label>
            @Html.TextBoxFor(m => m.name, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label>Description</label>
            @Html.TextAreaFor(m => m.description, new { @class = "form-control", rows = "12" })
        </div>
        <div class="form-group">
            <label>Status</label>
            @Html.DropDownListFor(m => m.statusId, new SelectList(Model.statusList, "id", "name", Model.statusId), new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label>Project</label>
            @Html.DropDownListFor(m => m.projectId, new SelectList(Model.projectList, "id", "name", Model.projectId), new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label>User</label>
            @Html.DropDownListFor(m => m.useId, new SelectList(Model.userList, "id", "fullName", Model.useId), new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label>Priority</label>
            @Html.DropDownListFor(m => m.priorityId, new SelectList(Model.priorityList, "id", "name", Model.priorityId), new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label>Dead Line</label>
            @Html.TextBoxFor(m => m.deadLine, new { @class = "form-control", id="datePicker" })
        </div>
        @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default" })
        <button type="submit" class="btn btn-success">Update</button>
    }
}
else
{
    <p class="h6">@ViewBag.errorMessage</p>
}

<script type="text/javascript" src="~/Scripts/jquery-ui-1.11.2.min.js"></script>
<link rel="stylesheet" href="~/Content/jquery-ui.min.css" />
<script type="text/javascript" src="~/jsScripts/datePicker.js"></script>

