@model IEnumerable<DataLayer.Role>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Layout.cshtml";
}


<h2>User Roles</h2>

@Html.ActionLink("Add New Role", "Add", null, new {@class = "btn btn-primary"})
@if (Model != null)
{
    <table class="table table-responsive">
        <thead>
            <tr>
                <td>ID</td>
                <td>Name</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var m in Model)
            {
                <tr>
                    <td>@m.id</td>
                    <td>@m.name</td>
                    <td class="clickableElem">
                        <a href="" class="glyphicon glyphicon-remove" data-toggle="modal" data-target="#deleteModal" data-bind="click: setRoleId.bind($data, @m.id)"></a>
                        <a href="@Url.Action("Update", new { id = @m.id})" class="glyphicon glyphicon-pencil"></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h4>There is no Roles on the System</h4>
}


<!--
    Modal for delete Method
-->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">            
            <div class="modal-body">
                Are you sure you want to <strong>Delete</strong> this Roles?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" data-bind="click: deleteRole">Delete</button>
            </div>
        </div>
    </div>
</div>


<script src="../jsScripts/RoleVM.js" type="text/javascript"></script>